@import "layout.css";
/*hero*/

.hero{
    margin-top: var(--navbar-height);
    position: relative;
    min-height: 600px;
    background-image: url("/assets/images/about/joel-filipe-VuwAfoHpxgs-unsplash.webp");
    background-repeat: no-repeat;
    background-position: 0 35%;
    background-size: cover;
}
.hero__box{
    position: absolute;
    bottom: 20%;
    left: 20%;
}
.container{
    width: 90%;
    margin: 80px auto 0 auto;
}

.about__founding p{
    margin-bottom: 25px;
}
.about__founding p:last-of-type{
    margin-top: 40px;
    text-align: right;
}
.about__founders{
    margin-top: 50px;
}
.founder{
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*Founder photo part*/

.founder--photo{
    position: relative;
    max-width: 400px;
    max-height: 400px;
    transition: 0.5s;
}
.founder--photo::after{
    position: absolute;
    content: '';
    width: 400px;
    height: 400px;
    border: 5px solid var(--primary-color);
    right: -35px;
    top: -25px;
    z-index: -1;
    transition: 0.2s;
}

.founder:nth-of-type(odd) .founder--photo {
    order: 2;
}
.founder:nth-of-type(even) .founder--photo::after {
    right: 35px;
}
.founder .founder--photo:hover::after{
    right: -5px;
    top: -5px;
}

.founder--photo img{
    max-width: 400px;
    max-height: 400px;
}

/*Founder description part*/

.founder--description{
    position: relative;
    padding: 20px;
    height: 100%;
    width: 40ch;
    border-radius: 2px;
}
/*.founder--description::after{*/
/*    position: absolute;*/
/*    content: '';*/
/*    width: 40ch;*/
/*    height: 100%;*/
/*    border: 5px solid var(--primary-color);*/
/*    right: 35px;*/
/*    bottom: -25px;*/
/*    transition: 0.2s;*/
/*}*/


/*.founder:nth-of-type(even) .founder--description::after {*/
/*    right: -35px;*/
/*}*/
/*.founder:hover .founder--description::after{*/
/*    right: -5px;*/
/*    bottom: -5px;*/
/*}*/

@media (max-width: 800px){
    .founder{
        flex-wrap: wrap;
        gap: 0;
        margin-bottom: 40px;
    }
    .founder:nth-of-type(odd) .founder--photo {
        order: 0;
    }
    .founder--photo::after{
        position: absolute;
        content: '';
        width: 420px;
        height: 400px;
        border: 5px solid var(--primary-color);
        right: -15px;
        top: -25px;
        z-index: -1;
        transition: 0.2s;
    }
    .founder:nth-of-type(even) .founder--photo::after {
        right: -15px;
    }
    .founder .founder--photo:hover::after{
        width: 400px;
        right: -5px;
        top: -5px;
    }
}

@media (max-width: 475px){
    .founder--photo,
    .founder--photo img{
        width: 250px;
        height: 250px;
    }{
        width: 250px;
        height: 250px;
    }

    .founder--photo::after{
        position: absolute;
        content: '';
        width: 270px;
        height: 250px;
        border: 5px solid var(--primary-color);
        right: -15px;
        top: -15px;
        z-index: -1;
        transition: 0.2s;
    }
    .founder:nth-of-type(even) .founder--photo::after {
        right: -15px;
    }
    .founder .founder--photo:hover::after{
        width: 250px;
        right: -5px;
        top: -5px;
    }
}