@import "_layout.css";
body{
    overflow-x: hidden;
}

.contact{
    margin-top: 80px;
    background-image: url("/assets/images/contact/contact-us-coffee.webp");
    background-repeat: no-repeat;
    background-position: 25% 50%;
}

.container{
    width: 90%;
    margin: 80px auto 0 auto;
    justify-content: space-evenly;
}

/*contact description*/

.contact__description{
    margin-top: 20px;
    max-width: 35ch;
    line-height: 1.5;
    letter-spacing: 2px;
}


/*contact form*/
.contact__form{
    gap: 15px;
    margin: 20px;
    padding: 15px;
    background: rgba(101, 101, 101, 0.7);
    border-radius: 10px;
}
.contact__form div label{
    color: #eeeeee;
}

.contact__form .general-button,
.contact__form div{
    width: 350px;
}

.info{
    background-color: var(--light-color);
}

/*maps*/

.maps iframe{
    width: 100vw !important;
}

@media (max-width: 900px) {
    .container{
        flex-wrap: wrap;
    }
    .info {
        flex-direction: column;
        gap: 5px;
    }
    .info__box:nth-of-type(2)::after,
    .info__box:nth-of-type(2)::before
    {
        content: '';
        height: 1px;
        width: 100vw;
        background-color: var(--dark-color);
    }
    .info__box:nth-of-type(2)::before{
        margin-bottom: 5px;
    }
}
@media (max-width: 420px){
    .contact__form{
        width: 90%;
    }
    .contact__form .general-button,
    .contact__form div{
        width: 100%;
    }
}