@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');/* Variables */
@import "_layout.css";
@import "_carousel.css";


/*Products section*/
.products-container{
text-align: center;
    margin: 20px;
}
.cards{
    width: 80%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
.card{

}
.card__header img{
    max-width: 300px;
}
.card__body{

}