@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');/* Variables */
@import "_layout.css";
@import "_carousel.css";

/*Variables for button gradient*/
:root {
    --gradientStart: #4d263d;
    --gradientEnd: #783c5f;
}

/*Products section*/
.container{
    text-align: center;
    margin: 40px auto;
    width: 80%;
}
.cards{
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 0 2px 2px 1px #555;
    transition: 0.4s;
}
.card:hover{
    box-shadow: 0 6px 4px 1px #777;
    transform: translateY(-4px);
}

.card__header img{
    max-width: 300px;
    overflow: hidden;
    transition: 0.4s;
}
.card:hover .card__header img{
    transform: scale(1.05) translateY(-5px);
}
.card__body{
    max-width: 300px;
    margin: 16px 0;
}
.card__footer{
    max-width: 300px;
}
/*Four keys formula*/
.grid{
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.key{
    padding: 20px;
    transition: 0.4s;
    opacity: 1;
}
.key__content p {
    text-align: left;
}

.hidden{
    opacity: 0;
    transition: 0.4s;

}
.key:hover .hidden{
    opacity: 1;
}

.key__img img{
    border-radius: 5px;
    filter: drop-shadow(1px 1px 2px #222222);
}
.key__content h4{
    margin: 10px;
}

/*Media queries*/

@media(max-width: 1300px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
    .hidden{
        opacity: 1;
    }
}

@media(max-width: 1090px){
    .cards{
        flex-wrap: wrap;
    }
}