/*Style reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */
.navbar{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.navbar__logo{
    height: 100px;
    width: auto;
}
.navbar__list{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-right: 40px;
}
.navbar__list a {
    text-decoration: none;
    color: black;
}